.about {
    padding: 78px 0 50px;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about .container .left-wrapper p:nth-child(2) {
    margin-top: 45px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.03em;
    color: #2a2a2a;
}

.about .container .left-wrapper p:nth-child(3) {
    width: 453px;
    margin-top: 33px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -.03em;
    color: #454545;
}

.about .container .left-wrapper p:nth-child(4),
.about .container .left-wrapper p:nth-child(5),
.about .container .left-wrapper p:nth-child(6) {
    width: 453px;
    margin-top: 21px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -.03em;
    color: #454545;
}

.about .container .right-wrapper .barbecue-img {
    width: 437px;
    height: 418px;
    background-image: url(../img/about-barbecue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
