.services {
    padding: 50px 0 50px 0;
}

.services__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 0 0 50px 0;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border-radius: 20px;
}

.services__text {
    flex: 0 0 41.6%;
    padding: 30px;
}

.services__info {
    flex: 0 0 25%;
    padding: 30px;
}

.services__text-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
}

.services__text-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.services__image {
    background-image: url(../img/services1.png);
    background-size: cover;
    width: 240px;
    height: 294px;
    position: relative;
    bottom: -7px;
}

.services__info-wrapper {
    padding: 20px;
    background-color: hsla(0, 0%, 95%, .5);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__button {
    width: 150px;
    height: 40px;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 20px;
    background: #1cba19;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.services__info-time,
.services__info-price {
    display: flex;
    align-items: center;
}

.services__info-time>svg,
.services__info-price>svg {
    width: 24px;
}

.services__info-time {
    margin: 10px 0 0 0;
}

.services__info-name {
    font-size: 20px;
    margin: 0 0 10px 0;
}