* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #f1f1f1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}
