.category {
    padding: 50px 0 50px 0;
    background-color: #f1f1f1;
}

.category__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 0 0 50px 0;
}

.category__wrapper {
    display: flex;
    height: 516px;
}

.category__item-wrapper:nth-child(1) {
    flex-basis: 40%;
}

.category__item-wrapper:nth-child(2) {
    flex-basis: 30%;
}

.category__item-wrapper:nth-child(3) {
    flex-basis: 30%;
}

.category__item-wrapper {
    padding: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
}

.category__item {
    border-radius: 16px;
    padding: 15px;
    color: #000;
    text-decoration: none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
    max-height: 100%;
    flex-grow: 1;
}

.category__item.pink {
    background: #ffbfa3;
}

.category__item.yellow {
    margin-top: 10px;
    background: #f9fe97;
}

.category__item.blue {
    background: #c9d2da;
}

.category__item.green {
    background: #baefa4;
}

.category__item-title {
    font-weight: 600;
    font-size: 35px;
}

.category__item-text {
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    position: relative;
    z-index: 1;
}

.category__item-image {
    position: absolute;
    background-size: cover;
}

.category__item-image.cart1 {
    background-image: url(../img/category_cart1.png);
    bottom: -10px;
    right: 10px;
    width: 300px;
    height: 174px;
}

.category__item-image.cart2 {
    background-image: url(../img/category_cart2.png);
    bottom: -10px;
    right: 10px;
    width: 300px;
    height: 194px;
}

.category__item-image.cart3 {
    background-image: url(../img/category_cart3.png);
    width: 300px;
    height: 300px;
}

.category__item-image.cart4 {
    background-image: url(../img/category_cart4.png);
    bottom: -10px;
    right: 10px;
    width: 340px;
    height: 378px;
}