.contacts {
    padding-top: 100px;
    padding-bottom: 50px;
}

.contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts .container .map-wrapper {
    position: relative;
}

.contacts h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

#map {
    width: 800px;
    height: 400px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px dashed #000;
    overflow: hidden;
}

#map-info {
    position: absolute;
    top: 100px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

#map-info .map-info__inner {
    width: 80%;
}

#map-info .map-info__inner h3 {
    margin-top: 16px;
    font-size: 16px !important;
    font-weight: 700;
}

#map-info .map-info__inner h3:first-child {
    margin-top: 0;
}

#map-info .map-info__inner p,
#map-info .map-info__inner a {
    font-size: 14px;
    font-weight: 500;
}

#map-info .map-info__inner p:nth-child(2),
#map-info .map-info__inner p:nth-child(5),
#map-info .map-info__inner a:nth-child(7) {
    display: block;
    margin-top: 10px;
}

#map-info .map-info__inner p:nth-child(3) {
    color: #696969;
}

#map-info .map-info__inner p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
}

#map-info .map-info__inner a {
    color: #000;
    text-decoration: none;
}

#map-info .map-info__inner a:hover {
    text-decoration: underline;
}