.payment {
    padding-top: 130px;
    padding-bottom: 50px;
}

.payment h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.payment ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    list-style: none;
}

.payment .container > ul > li {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed #000;
    background-color: #fff;
    transition-duration: 300ms;
}

.payment .container > ul > li:hover {
    transform: translateY(-10px);
}

.payment ul li h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.payment ul li p {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.payment li > ul li {
    display: flex;
    align-items: center;
}

.payment li > ul li img {
    display: block;
}

.map {
    padding: 50px 0;
}

.map .container {
    display: flex;
    justify-content: center;
}

#map {
    width: 70%;
    height: 400px;
    border-radius: 10px;
    border: 1px dashed #000;
    overflow: hidden;
}