.zones {
    padding: 50px 0;
}

.zones .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.zones .planet {
    width: 50px;
    height: 50px;
    background-image: url(../img/planet.svg);
    background-size: contain;
    background-position: center;
}

.zones h2 {
    margin-top: 48px;
    font-size: 35px;
    font-weight: 700;
}

.zones p:nth-child(3) {
    margin-top: 30px;
}

.zones p:nth-child(3),
.zones p:nth-child(4) {
    font-size: 20px;
    font-weight: 400;
    color: #484848;
}

.zones p:nth-child(4) {
    margin: 24px 0;
}

