.delivery-meat__wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.delivery-meat__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.delivery-meat__info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delivery-meat__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
}

.delivery-meat {
    height: 100vh;
    margin: 0 0 50px 0;
}

.delivery-meat__button {
    margin-top: 20px;
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: #e70000;
    color: #fefefe;
    border: 1px solid #e70000;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    text-decoration: none;
    transition: all 0.3s;
}

.delivery-meat__button:hover {
    background: #fefefe;
    color: #e70000;
    border: 1px solid #e70000;
    transition: all 0.3s;
}

.delivery-meat__video {
    max-width: 100%;
}